// footer
footer.footer 
	.wrapper
		.license ИНН 590699496395
		.license ОГРНИП 320595800005445
		
// /footer

script(src="js/jquery-3.4.1.min.js")
//- script(src="js/jquery.fancybox.min.js")
//- script(src="js/slick.min.js")
//- script(src="js/jquery.matchHeight-min.js")
//- script(src="js/jquery.inputmask.bundle.min.js")
//- script(src="js/autosize.min.js")
//- script(src="js/tooltipster.bundle.min.js")
//- script(src="js/jquery.mmenu.all.js")
//- script(src="js/wow.min.js")
//- script(src="js/fullpage.min.js")
//- script(src="js/jquery.vide.min.js")
//- script(src="js/jquery.scrollbar.min.js")
//- <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
//- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y"></script>
script(src="js/script.js")