// header
header.header#header
	.wrapper
		.header_container

			//- // menu
			//- //- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
			//- #menu.menu.menu--right
			//- 	button#menu-btn.menu_btn.hamburger.hamburger--vortex(type="button")
			//- 		span.hamburger-box
			//- 			span.hamburger-inner
			//- 	nav#mmenu.menu_nav
			//- 		ul.menu_list
			//- 			li.menu_item
			//- 				a(href="#").menu_link Меню 1
			//- 			li.menu_item
			//- 				a(href="#").menu_link Меню 2
			//- 			li.menu_item
			//- 				a(href="#").menu_link Меню 3
			//- 			li.menu_item
			//- 				a(href="#").menu_link Меню 4
			//- 			li.menu_item
			//- 				a(href="#").menu_link Меню 5
			//- 			li.menu_item
			//- 				a(href="#").menu_link Меню 6
			//- 			li.menu_item
			//- 				a(href="#").menu_link Меню 7
			//- 			li.menu_item
			//- 				a(href="#").menu_link Меню 8
			//- 	.menu_over
			//- // /menu

			a(href="index.html").logo
				img(src="img/logo.png", alt="logo")

			.call
				p.call_text Наш телефон
					img.call_img(src="img/phone.svg", alt="phone")
				a(href="tel:+79082481460").call_link 8 (908) 248-14-60

// /header